/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agave Nerd Font";
  src: url("/fonts/AgaveNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code Nerd Font";
  src: url("/fonts/AgaveNerdFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Agave Nerd Font", monospace;
}

/* Custom styles for MD files */
.project-content h2 {
  @apply text-2xl font-bold text-orange;
}

.project-content p {
  @apply text-white;
}

.project-content a {
  @apply font-bold text-yellow;
}
